
/* name and title*/
.head {
    text-align: center;
}

/* project box skeleton (carousel to be implemented) */
.project {
	width: 70%;
	height: 70%;
	background-color: black;
	margin: auto;
}

/* project names and descriptions, seperate from/on top of project boxes*/
.projectName {
		/*position: absolute;*/
		color: blue;
		margin-left: -5%;
		bottom: 17.5%;
		left: 17.5%;

}


/* scroll hint (turn into image)*/
.scroll {
	
	/*position: absolute;*/
	bottom: 5%;
	width: 100%;
	margin: auto;
	text-align: center;

	
}

/* flexbox container */
.experience {
	display:flex;
	width: 70%;
	height: 70%;
	background-color: green;
	margin: auto;
}

/* flexbox items */
.item {}



