.head {
    text-align: center;
}

.project {
	width: 70%;
	height: 70%;
	background-color: black;
	margin: auto;
}

.projectName {
		position: absolute;
		color: blue;
		margin-left: -5%;
		bottom: 17.5%;
		left: 17.5%;

}

